{% extends 'base.html' %}
{% block content %}

  <h1>My Shoe Collection</h1>
  <!-- add shoe btn -->
  <a href="{% url 'shoe_create' %}" draggable="false"><i class="material-icons medium">add_circle</i></a>
  {% if shoes %}
  <!-- https://stackoverflow.com/questions/346467/format-numbers-in-django-templates -->
  <!-- formatting for price - 2 decimal points, comma for over a thousand -->
    <p>Collection value: ${{ value|floatformat:"2g" }}</p>
    <div class="row">
    {% for shoe in shoes %}
    <a href="{% url 'details' shoe.id %}" class="black-text">
        <div class="col s12 m6 l6 xl4">
          <div class="card large hoverable">
            <div class="card-image">
              <img src="{{ shoe.img }}">
            </div>
            <div class="card-content">
            <span class="card-title black-text">{{ shoe.brand }} - {{ shoe.modelName }}</span>
              <p>Colorway: {{ shoe.colorway }}</p>
              <!-- <p>Description: {{ shoe.description }}</p> -->
            </div>
            <div class="card-action ">
              <a href="{% url 'details' shoe.id %}" class="black-text">View</a>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  {% else %}
    <p>Your shoe collection is empty.</p>
  {% endif %}

  

{% endblock %}