{% extends 'base.html' %}
{% block content %}
  <h1>My Shoe Collection</h1>
  {% if shoes %}
    <ul>
    {% for shoe in shoes %}
      <li>{{ shoe.brand }} - {{ shoe.modelName }}</li>
      <ul>
        <li>Colorway: {{ shoe.colorway }}</li>
        <li>Description: {{ shoe.description }}</li>
        <li>Year Released: {{ shoe.year }}</li>
        <li>Price: ${{ shoe.price }}</li>
      </ul>
    {% endfor %}
    </ul>
  {% else %}
    <p>Your shoe collection is empty.</p>
  {% endif %}
{% endblock %}