{% extends 'base.html' %}
{% block content %}

{% if user.id == shoe.user.id %}
<!-- returns user back to collection if its their shoe, else it will return them back to the explore page -->
    <a href="{% url 'collection' %}" draggable="false"><i class="material-icons">arrow_back</i></a>
{% else %}
    <a href="{% url 'explore_page' %}" draggable="false"><i class="material-icons">arrow_back</i></a>
{% endif %}

<div class="row">
    <div class="col s12">
        <h3>{{ shoe.brand }} {{ shoe.modelName }}</h3>
        <div class="image-container">
            <img src="{{ shoe.img }}" class="shoe-image" style="max-width: 50%; max-height: 50%;">
            <!-- <img src="{{ shoe.img }}" class="responsive-img"> -->
        </div>
        <p><strong>Colorway:</strong> {{ shoe.colorway }}</p>
        <p><strong>Type:</strong> {{ shoe.type }}</p>
        <p><strong>Description:</strong> {{ shoe.description }}</p>
        <p><strong>Year Released:</strong> {{ shoe.year }}</p>
        <p><strong>Price:</strong> ${{ shoe.price }}</p>
    </div>
</div>

<div>
    <!-- Like Button -->
    <form method="POST" action="{% url 'like_shoe' shoe.id %}">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if user in shoe.likes.all %}
                <button type="submit" class="btn" disabled>Liked</button>
            {% else %}
                <button type="submit" class="btn">Like</button>
        {% endif %}
        {% endif %}
    </form>
</div>

<br>
<p>{{ num_likes }} likes</p>
{% if user.id == shoe.user.id %}
    <div class="row">
        <div class="col s12">
            <a href="{% url 'shoe_update' shoe.id %}" class="btn">Edit</a>
            <a href="{% url 'shoe_delete' shoe.id %}" class="btn"><i class="material-icons">delete</i></a>
        </div>
    </div>
{% endif %}
{% endblock %}
