{% extends 'base.html' %}
{% block content %}

{% if user.id == shoe.user.id %}
<a href="{% url 'collection' %}" draggable="false"><i class="material-icons">arrow_back</i></a>
{% else %}
<a href="{% url 'explore_page' %}" draggable="false"><i class="material-icons">arrow_back</i></a>
{% endif %}
    <div class="row">
        <div class="col s12">
            <h3>{{ shoe.brand }} {{ shoe.modelName }}</h3>
            <div class="image-container">
                <img src="{{ shoe.img }}" class="shoe-image" style="max-width: 50%; max-height: 50%;">
                <!-- <img src="{{ shoe.img }}" class="responsive-img"> -->
            </div>
            <p><strong>Colorway:</strong> {{ shoe.colorway }}</p>
            <p><strong>Type:</strong> {{ shoe.type }}</p>
            <p><strong>Description:</strong> {{ shoe.description }}</p>
            <p><strong>Year Released:</strong> {{ shoe.year }}</p>
            <p><strong>Price:</strong> ${{ shoe.price }}</p>
        </div>
    </div>
    {% if user.id == shoe.user.id %}
    <div class="row">
        <div class="col s12">
            <a href="{% url 'shoe_update' shoe.id %}" class="btn">Edit</a>
            <a href="{% url 'shoe_delete' shoe.id %}" class="btn"><i class="material-icons">delete</i></a>
        </div>
    </div>
    {% endif %}
{% endblock %}
