{% extends 'base.html' %}
{% block content %}
<a href="{% url 'explore_page' %}" draggable="false"><i class="material-icons">arrow_back</i></a>
  <h1>{{ username }}'s Collection</h1>
  {% if shoes %}
    <div class="row">
    {% for shoe in shoes %}
        <div class="col s6">
          <div class="card large">
            <div class="card-image">
              <img src="{{ shoe.img }}">
            </div>
            <div class="card-content">
            <span class="card-title black-text">{{ shoe.brand }} - {{ shoe.modelName }}</span>
              <p>Colorway: {{ shoe.colorway }}</p>
              <p>Description: {{ shoe.description }}</p>
              <p>Price: ${{ shoe.price }}</p>
              <p>Release Year: {{ shoe.year }}</p>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  {% else %}
    <p>{{ username }}'s shoe collection is empty.</p>
  {% endif %}
{% endblock %}
