{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoe Collector</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
          <a href="{% url 'home' %}" class="left brand-logo">Shoe Collector</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'about' %}">About</a></li>
             <li><a href="{% url 'shoe_create' %}">Add Shoe</a></li>
            <li><a href="{% url 'collection' %}">My Collection</a></li> 
          </ul>
        </div>
      </nav>
    </header>
   <!-- <ul class="sidenav" id="mobile">
        <li><a href="">About</a></li>
         <li><a href=""></a>Add Shoe</li>
        <li><a href="">View All My Shoes</a></li>
      </ul> -->
    <main class="container">
        {% block content %} 
        {% endblock %}
    </main>
    <footer class="page-footer blue">
        <div class="right">
          All Rights Reserved, &copy; 2023 Shoe Collector &nbsp;
        </div>
      </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>