{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoeBox</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue">
          <a href="{% url 'home' %}" class="left brand-logo hide-on-med-and-down">&nbsp;&nbsp;ShoeBox</a>
          <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="{% url 'home' %}" class="right brand-logo hide-on-large-only show-on-med-and-down">ShoeBox</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
             <li><a href="{% url 'shoe_create' %}">Add Shoe</a></li>
            <li><a href="{% url 'collection' %}">My Collection</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li> 
            <li>Hello, <span style="font-style: italic;">{{ user.username }}&nbsp;&nbsp;</span></li> 
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li> 
            <li><a href="{% url 'login' %}">Login</a></li> 
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
   <ul class="sidenav" id="mobile">
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'shoe_create' %}">Add Shoe</a></li>
      <li><a href="{% url 'collection' %}">My Collection</a></li> 
      </ul>
    <main class="container">
        {% block content %} 
        {% endblock %}
    </main>
    <footer class="page-footer blue">
        <div class="right">
          All Rights Reserved, &copy; 2023 Shoe Collector &nbsp;
        </div>
      </footer>
      <!-- jquery for sidenav -->
    <script>
      $(document).ready(() => {
        $('.sidenav').sidenav();
      });
  </script>
</body>
</html>